.current-game{
    position: absolute;
    top: 150px;

    background-color: #000000d2;
    color: white;

    width: fit-content;
    padding: 1rem 1rem;
    border-radius: 10px;

    display: flex;
    align-items: flex-start;

    &:hover{
        cursor: move;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }

    h2{
        font-size: 16px;
        color: aliceblue;
        text-align: center;
    }

    * > div{
        min-width: 160px;
        padding-left: 2rem;
    }

    &__image{
        border-radius: 10px;
        height:127px;
        width: 95px;
    }

    &__basics{

        &__game-name{
            font-size: 20px;
            font-weight: bold;
        }

        &__game-provider{
            font-size: 16px;
            color: #9f9f9f;
        }
    }

    &__personnal-best{
    
        &__content{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    .divider{
        width: 1px;
        border-radius: 8px;
        height: 127px;
        background-color: white;
    }
}