.progress-bar{
    position: absolute;

    background-color: #101c4080;
    color: white;

    width: 20%;
    height: 50px;
    font-size: 20px;
    border: 1px #1b1d1f solid;
    border-radius: 16px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;

    &:hover{
        cursor: move;
    }

    &__in{
        height: 50px;
        overflow: hidden;
        background-color: rgba(124, 45, 189, 0.616);
        position: absolute;
        left: 0;
        transition: width 1s ease-in-out;
    }

    &__text{
        z-index: 100;
        &__percentage{
            font-size: 16px;
        }
    }
}